.destinationImg {
  width: 250px;
  height: 250px;
  object-fit: cover;
  padding: 10px;
}

.resultCard {
  display: flex;
  background-color: white;
  border-radius: 15px;
  border: solid #2c2c33 3px;
  padding: 10px;
  margin: 30px 40px 0px 40px;
}

.buttonSpotBox {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.destinationImg {
  border-radius: 15px;
  margin: 3px;
}

.locationCardContent {
  margin-left: 50px;
  margin-right: 10px;
}

.cardImage {
  display: flex;
  justify-content: space-around;
}

.destinationHeader {
  margin: 50px;
}

#more {
  display: none;
}

.destinationList {
  background-image: url("../../images/homepage1.png"),
    url("../../images/destination2.png");
  background-repeat: no-repeat;
  background-position: left bottom, right top;
}
