.deleteButton {
  border-radius: 15px;
  height: 35px;
  margin: 5px;
  width: 120px;
  border-width: 3px;
  padding: 5px;
  background-color: white;
  font: 18px "Raleway";
  text-align: center;
}

.addDetailButton {
  border-radius: 15px;
  height: 35px;
  margin: 5px;
  width: 150px;
  border-width: 3px;
  padding: 5px;
  background-color: white;
  font: 18px "Raleway";
  text-align: center;
}

.tripHeader {
  margin: 50px;
}

.tripCard {
  display: inline-grid;
  background-color: white;
  border-radius: 15px;
  width: 300px;
  height: 500px;
  border: solid #2c2c33 3px;
  padding: 15px;
  margin: 0px 40px 30px 40px;
}

.tripImg {
  width: 250px;
  height: 250px;
  object-fit: cover;
  padding: 10px;
  border-radius: 15px;
}

.accountButton {
  border-radius: 15px;
  height: 38px;
  margin: 5px;
  width: 150px;
  border-width: 3px;
  padding: 5px;
  background-color: white;
  font: 18px "Raleway";
  text-align: center;
}

.accountButtonBox {
  display: flex;
  justify-content: space-around;
}

.tripList {
  background-image: url("../../images/mytrips1.png"),
    url("../../images/quiz2.png");
  background-repeat: no-repeat;
  background-position: left bottom, right;
}
