.slidecontainer {
  width: 70%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  margin: 5px;
  width: 60%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}

.MuiSlider-markLabel {
  margin: 10px;
  position: absolute;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4caf50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4caf50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.submitButton {
  border-radius: 15px;
  height: 35px;
  margin: 5px;
  width: 120px;
  border-width: 3px;
  padding: 5px;
  background-color: white;
  font: 18px "Raleway";
  margin-top: 50px;
  margin-bottom: 50px;
}

.topQuiz {
  margin: 100px 120px 100px;
}

.family {
  margin: 50px 100px 50px;
  height: 320px;
}

.MuiTypography-body1 {
  font: 20px "Raleway" !important;
  color: #2c2c33 !important;
}

.MuiFormLabel-root {
  font: 25px "Raleway" !important;
  color: #2c2c33 !important;
}

.question1Answers {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  width: 250px;
}

.quiz1 {
  height: 350px;
}

.beach {
  height: 300px;
}

.tripNameBox {
  margin-top: 20px;
}

.tripTypeBox {
  margin-top: 20px;
}

.hike {
  height: 400px;
}

.quiz3 {
  height: 300px;
  margin-top: 50px;
}

.question4 {
  margin-top: 80px;
}

.quiz2 {
  margin: 80px 0px 50px 50px;
}

.question2 {
  margin: 120px 100px 80px;
}

.solo {
  height: 320px;
}

.question5 {
  margin: 50px 100px 80px;
}

.swim {
  height: 300px;
  margin-right: 200px;
}

.question6 {
  margin: 80px 0px 00px 100px;
}

.question3 {
  margin-top: 70px;
}

.typeDropdown {
  width: 220px;
  height: 35px;
  border-radius: 15px;
  border-width: 3px;
  padding: 3px;
  font: 18px "Raleway";
}

input[type="radio"] {
  display: none;
}
