.homepage1 {
  height: 350px;
}

.homepage2 {
  height: 350px;
  transform: rotate(90deg);
}

.item1title {
  margin-left: 100px;
  margin-top: 120px;
  margin-bottom: 120px;
}

.friends {
  margin-left: 150px;
  margin-top: 50px;
}

h1 {
  font-weight: regular !important;
}

.introCopy {
  margin-right: 110px;
  margin-top: 150px;
  margin-bottom: 200px;
  font-size: 30px;
}

.homepage2 {
  margin-right: 0;
  padding-right: 0;
}

.one {
  margin-left: 250px;
  margin-right: 30px;
  max-height: 120px;
}

.two {
  margin-left: 250px;
  margin-right: 30px;
  max-height: 120px;
}

.three {
  margin-left: 250px;
  margin-right: 30px;
  max-height: 120px;
}

.stepSectionHeadline {
  margin-left: 250px;
}

.getStarted {
  margin-left: 250px;
  margin-top: 50px;
  margin-bottom: 70px;
}

.stepsContainer {
  background-image: url("../../images/home2.png");
  background-repeat: no-repeat;
  background-position: right;
}

.topArticleCard {
  margin: 15px;
  padding: 10px;
  border: solid #2c2c33 3px;
  border-radius: 15px;
  background-color: white;
}

.articleHeadline {
  text-align: center;
}

.articleContainer {
  display: flex;
  margin-top: 50px;
  margin-bottom: 60px;
}

.articletitle {
  margin-top: 100px;
  text-align: center;
}

.articleSection {
  margin-bottom: 50px;
}

.articleImage1 {
  max-width: 400px;
}

.imageSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stepBox {
  display: flex;
}

.article3Image {
  max-width: 900px;
}

.buttonHomeBox {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 30px;
}

.stepsButtonBox {
  padding-top: 20px;
  padding-bottom: 50px;
}
