.quizButton {
  border-radius: 15px;
  height: 35px;
  margin: 5px;
  width: 150px;
  border-width: 3px;
  padding: 5px;
  background-color: white;
  font: 18px "Raleway";
}

.homepage1 {
  height: 350px;
}

.getStarted {
  border-radius: 15px;
  height: 35px;
  margin: 5px;
  width: 150px;
  border-width: 3px;
  padding: 5px;
  background-color: white;
  font: 18px "Raleway";
}

.homepage2 {
  height: 350px;
  transform: rotate(90deg);
}

.item1title {
  margin-left: 100px;
  margin-top: 120px;
  margin-bottom: 120px;
}

.friends {
  margin-left: 150px;
  margin-top: 50px;
}

h1 {
  font-weight: regular !important;
}

.introCopy {
  margin-right: 110px;
  margin-top: 150px;
  margin-bottom: 200px;
  font-size: 30px;
}

.homepage2 {
  margin-right: 0;
  padding-right: 0;
}

/* .MuiGrid-grid-xs-12 {
  display: flex;
  justify-content: flex-end;
  margin-right: 0;
  padding-right: 0;
} */

.one {
  margin-left: 250px;
}

.two {
  margin-left: 250px;
}

.three {
  margin-left: 250px;
}

.stepSectionHeadline {
  margin-left: 250px;
}

.getStarted {
  margin-left: 250px;
  margin-top: 50px;
  margin-bottom: 70px;
}

.stepsContainer {
  background-image: url("../../images/home2.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.topArticleCard {
  margin: 15px;
  padding: 10px;
  text-align: center;
}

.articleContainer {
  display: flex;
}
